#logo{
    width:15%;
    padding-right: 10px;
}

#header{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 120px;
    font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

body{
    background-color: rgb(248, 248, 149);
}

a{
    color:black
}

a:visited{
    color:black
}